.dango-pink-bg {
  background-color: #B74A75 !important;
}

.dango-pink-text {
  color: #B74A75 !important;
}

.dango-teal-bg {
  background-color: #147E77 !important;
}

.dango-teal-text {
  color: #147E77 !important;
}

.dango-yellow-bg {
  background-color: #8A6F14 !important;
}

.dango-yellow-text {
  color: #8A6F14 !important;
}

.dango-purple-bg {
  background-color: #754AB7 !important;
}

.dango-purple-text {
  color: #754AB7 !important;
}
